.Timeline {
    width: 100%;
    height: 100%;
    display: flex;
}

.Timeline-colorFilter {
    margin: 12px;
    width: calc(8% - 24px);
    height: calc(100% - 24px);
    display: flex;
    overflow-y: scroll;
}

.Timeline-colorFilter-Overview {
    width: 28.6%;
    height: 100%;
}

.Timeline-colorFilter-Detail {
    margin-left: 4px;
    width: calc(71.4% - 4px);
    height: 100%;
}

.Color-bars {
    height: 10px;
}

.Timeline-streamGraph {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 4px;
    margin-right: 4px;
    width: calc(92% - 8px);
    height: calc(100% - 24px);
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
}

